<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/6d5b2cec0a.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/styles/main.css">
  <!-- <link rel="stylesheet" href="/styles/auth.css"> -->
  <link rel="stylesheet" href="/styles/main.css">
  <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

  <title>Necleo</title>
</head>
<body>
<div class="div">
    <div class="div-2">
        <div class="column">
            <div class="div-3">
                <img loading="lazy" src="images/logo.png" class="img" />
                <img loading="lazy"
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/ccb73142afa81202a4f6427668fb0c5cc43bdbe57a9cede3e4a4865611a4a11c?"
                    class="img-2" />
                <div class="div-4">
                    <img loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/593633cc92ed2b58d0fe0c6f399d4fe878ba816003764263e09a5cbdaf287829?"
                        class="img-3" />
                    <div class="div-5">My Projects</div>
                </div>
                <div class="div-6">
                    <img loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/9f5e5334adc27e1260233d98ea965e42494abe3b31809850987cc2f36849873b?"
                        class="img-4" />
                    <div class="div-7">Sample Projects</div>
                </div>
                <img loading="lazy"
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/ccb73142afa81202a4f6427668fb0c5cc43bdbe57a9cede3e4a4865611a4a11c?"
                    class="img-5" />
                <div class="div-8">
                    <img loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/953f173d17d02a83189b0b638b697e35f61261a02520323749ab65a1572b908a?"
                        class="img-6" />
                    <div class="div-9">Apps</div>
                </div>
                <div class="div-10">
                    <img loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/c6d818a76fd05d19d25c3e531f33ece40a32ca320ca623d511e046ef8e1709d4?"
                        class="img-7" />
                    <div class="div-11">Intro to Necleo</div>
                </div>
                <div class="div-12">
                    <img loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/aea46d3290c64a20082acab7430ba5f7997a276cbf91414258335d28468850c7?"
                        class="img-8" />
                    <div class="div-13">Help & Support</div>
                </div>
                <div class="div-14">
                    <img loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/b11f89e62535e622ab695b9593fcf319fe74fdb075af09860b16c6ee5f7597ee?"
                        class="img-9" />
                    <div class="div-15">Feedback</div>
                </div>
                <div class="div-16">
                    <img loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/5341d44fe39d3591d46fbfdc0963e267533db8cca0a3cccfe49fb355c6d39259?"
                        class="img-10" />
                    <div class="div-17">Collapse</div>
                </div>
            </div>
        </div>
        <div class="column-2">
            <div class="div-18">
                <div class="div-19">
                    <div class="div-20">
                        <div class="div-21">
                            <div class="div-22">
                                <div class="div-23">
                                    <div class="div-24">Free Trial</div>
                                    <div class="div-25">|</div>
                                    <div class="div-26">2 days left</div>
                                </div>
                                <div class="div-27">Extend free trail</div>
                            </div>
                            <img loading="lazy" src="images/profile.png" class="img-11" />
                        </div>
                        <img loading="lazy"
                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/666984cba0c569d74419ba8371f82c7b2ae439d1dd1c99370a945fae7f0b5630?"
                            class="img-12" />
                    </div>
                </div>
                <div class="div-28">
                    <div class="div-29">My Projects</div>
                    <section class="my-projects">
                    <div class="div-30">
                        <div class="div-31">
                            <img loading="lazy"
                                src="https://cdn.builder.io/api/v1/image/assets/TEMP/f2474a0c86536f4ebf436679c05538a6d31a60c067eacf628c9ec174161ce5dd?"
                                class="img-13" />
                        </div>
                        <div class="div-32"><a href="/create"> Create a new project</a></div>
                        <div class="div-33">
                            or try a
                            <span style="color: rgba(250, 120, 47, 1)">sample project</span>
                        </div>
                    </div>
                    <div class="pop">
                        <% images.forEach(function(imageUrl){%>
                        <article>
                          <div class="div-30">
                            <div class="div-31">
                            <figure>
                              <img src="<%= imageUrl.download_url %>" style="height: 200px; width:200px ">
                            </figure>
                            <div class="div-32">
                                <%= imageUrl.author %>                      
                            </div>      
                        </div>
                      </div>
                        </article>
                        <% }) %>
                    </div>
                </section>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
